li a{
    display: block;
    width: 80px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 167, 87);
    text-decoration: none;
    padding: 10px 20px;
}


/*li{
    display:inline;
    float: left;
}
*/


ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width: 120px;
    background-color: rgb(228, 167, 87);
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a:hover:not(.active){
    background-color: rgb(121, 70, 19);
    color: aliceblue;
}

li a.active{
    background-color: rgb(133, 86, 28);
    color: blanchedalmond;
}